<header class="site-header" role="banner">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="brand">
      <img src="{{ site.baseurl }}/assets/img/headshot.jpg">
      <span class="brand-name">Anna Kate Anderson</span>
    </a>
    <nav class="site-nav" id="site-nav" role="navigation" aria-hidden="false">
      <ul class="nav" id="site-nav">
        <li><a href="{{ site.baseurl }}/consultations/">Consulations</a></li>
        <li><a href="{{ site.baseurl }}/resume-kit/">Resume Kit</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
    </nav>
    <button type="button" class="site-nav-control open-site-nav" id="site-nav-control" aria-expanded="false"></button>
  </div>
</header>
