.brand{
  display: block;
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: $font-color;

  @media screen and (#{$bp-larger-than-phablet}){
    display: inline-block;
    padding: 0;
  }

  img{
    display: block;
    width: 20%;
    max-width: 6rem;
    margin: .5rem 0;
    vertical-align: text-bottom;
    border-radius: 50%;

    @media screen and (#{$bp-larger-than-phablet}){
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
}

.brand-name{
  display: inline-block;

  @media screen and (#{$bp-larger-than-phablet}){
    position: relative;
    top: .5rem;
    left: .5rem;
  }
}
