.button{
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border: 2px solid $primary-color;;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .875rem;
  color: $primary-color;
  cursor: pointer;
  transition: .2s opacity ease;

  &:hover{
    opacity: .8;
  }

  a{
    display: block;
    text-decoration: none;
    color: inherit;
  }

  &.action{
    border-color: $primary-color;
    background-color: $primary-color;
    color: $white;
  }
}
