.site-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding: 6rem 0 1rem;
  background-color: $light-grey;
  border-right: 1px solid darken($light-grey, 5%);
  z-index: 999;
  transform: translateX(-100%);
  transition: transform .4s ease-out;

  @media screen and (#{$bp-larger-than-tablet}){
    position: static;
    float: right;
    width: auto;
    height: auto;
    margin-top: 2.5rem;
    padding: 0;
    background-color: transparent;
    border-right: 0;
    opacity: 1;
    transform: none;
  }

  &.open{
    transform: translateX(0);
  }
}

.nav{
  @include unstyled-list;
  width: 80%;
  margin: auto;

  @media screen and (#{$bp-larger-than-tablet}){
    width: auto;
  }

  li{
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (#{$bp-larger-than-tablet}){
      display: inline-block;
      margin-bottom: 0;
    }
  }

  a{
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $primary-font-family;
    font-size: .875rem;
    color: $primary-color;

    @media screen and (#{$bp-larger-than-tablet}){
      margin-left: 2rem;
      //color: $white;

    }

    &.active{
      color: $light-grey;
    }
  }
}

.site-nav-control {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 1rem auto;
  padding: .25rem;
  color: $primary-color;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $primary-color;
  font-family: $primary-font-family;
  font-size: .875rem;
  cursor: pointer;
  transition: opacity .1s linear;
  transform: rotate(45deg);
  z-index: 5000;

  @media screen and (#{$bp-larger-than-tablet}){
    display: none;
  }

  &:hover{
    opacity: .7;
  }
}

.open-site-nav:before {
  content: 'Menu';
}

.close-site-nav:before {
  content: 'Close'
}
