.page{
  .container{
    background-color: rgba($white, .8);

    @media screen and (#{$bp-larger-than-tablet}){
      padding: 4rem;
    }
  }
}

.page-header{
  background-color: darken($secondary-color, 30%);

  @media screen and (#{$bp-larger-than-tablet}){
    padding-bottom: 4rem;
    background-color: $secondary-color;
  }

  .container{
    @media screen and (#{$bp-larger-than-tablet}){
      top: 4rem;
      padding-bottom: 2rem;
    }
  }

  h1{
    margin-top: .75rem;
    font-size: 2.25rem;
    @media screen and (#{$bp-larger-than-tablet}){
      font-size: 3rem;
    }
  }
}

.page-content-main{
  @media screen and (#{$bp-larger-than-tablet}){
    width: calc(60% - 4rem);
    margin-bottom: 0;
    margin-right: 4rem;
  }
}

.page-content-aside{
  @media screen and (#{$bp-larger-than-tablet}){
    width: 40%;
  }
}

//styling for user contentinfo

.user-content{
  @media screen and (#{$bp-larger-than-tablet}){
    max-width: 60%;
  }

  ul{
    list-style: square;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding: 0;

    li{
      margin-bottom: .5rem;
    }
  }

  blockquote{
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
    color: darken($secondary-color, 40%);
  }
}

//spacing for testimonials
.page{
  .testimonial-section{
    margin-bottom: 2rem;

    @media screen and (#{$bp-larger-than-tablet}){
      margin-bottom: 4rem;
    }
  }
}
