.page{
  .container{
    background-color: rgba($white, .8);

    @media screen and (#{$bp-larger-than-tablet}){
      padding: 4rem;
    }
  }
}

.page-header{
  background-color: darken($secondary-color, 30%);

  @media screen and (#{$bp-larger-than-tablet}){
    padding-bottom: 4rem;
    background-color: $secondary-color;
  }

  .container{
    @media screen and (#{$bp-larger-than-tablet}){
      top: 4rem;
      padding-bottom: 2rem;
    }
  }

  h1{
    margin-top: .5rem;
    font-size: 2.25rem;
    @media screen and (#{$bp-larger-than-tablet}){
      font-size: 3rem;
    }
  }
}

.content-only{
  .container{
    *{
      @media screen and (#{$bp-larger-than-tablet}){
        max-width: 60%;
      }
    }
  }
}

.page-content-title{

  @media screen and (#{$bp-larger-than-tablet}){
    width: calc(60% - 4rem);
    margin-bottom: 0;
    margin-right: 4rem;
  }
}

.page-content-sidebar{
  @media screen and (#{$bp-larger-than-tablet}){
    width: 40%;
  }
}
