.resume-kit-illustration{
  width: 100%;
  max-height: 15rem;
  overflow: hidden;

  @media screen and (#{$bp-larger-than-tablet}){
    max-height: 30rem;
  }
}

.resume-kit-illustration-asset{
  max-width: 90%;
  margin: 2rem auto 0;

  @media screen and (#{$bp-larger-than-tablet}){
    max-width: 70%;
  }

  img{
    width: 100%;
    height: auto;
  }
}

.resume-kit-parts{
  background-color: $secondary-color;
  text-align: center;

  h2{
    font-size: 1rem;
  }

  ul{
    @include unstyled-list;
    margin-top: 2rem;

    li{
      margin: 1rem auto;
      font-size: 1.75rem;

      @media screen and (#{$bp-larger-than-tablet}){
        width: 30%;
      }
    }
  }
}

.resume-kit-details{
  h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $font-color;
    text-transform: none;

    @media screen and (#{$bp-larger-than-tablet}){
      font-size: 2.25rem;
    }
  }

  .page-content-title{
    @media screen and (#{$bp-larger-than-tablet}){
      width: calc(50% - 4rem);
      margin-right: 4rem;
    }
  }

  .page-content-sidebar{
    @media screen and (#{$bp-larger-than-tablet}){
      width: 50%;
    }
  }
}
