.social{
  @include unstyled-list;
  margin-top: 2rem;

  @media screen and (#{$bp-larger-than-phablet}){
    margin-top: 0;
  }

  li{
    display: inline-block;

    a{
      display: block;
      height: 3rem;
      width: 3rem;
      padding: 0;
      background-color: $primary-color;

      &.twitter{
        background-color: #3EADEA;
      }

      &.linkedin{
        background-color: #2576B0;
      }
    }
  }

  svg{
    fill: $white;
  }
}

.social-shares{
  @include unstyled-list;
  margin-top: 1rem;

  li{
    display: inline-block;
    margin-right: .25rem;

    a{
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: darken($dark-grey, 30%);
      border-radius: 50%;
      vertical-align: bottom;

      svg{
        fill: $white;
      }
    }
  }
}
